# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: postgresql
  encoding: UTF8
  template: template0
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

production:
  adapter: postgresql
  database: phoenix
  host: localhost
  username: hosting-db
  password:

development:
  <<: *default
  database: phoenix_development
  adapter: postgresql
  host: localhost
  username: phoenix
  password: the_phoenix

test:
  <<: *default
  database: phoenix_test
  adapter: postgresql
  host: localhost
  username: phoenix
  password: the_phoenix
