<h1>Email de votre site web</h1>

<ul>
	<li>From: <%= @contact.first_name + " " + @contact.last_name %></li>

	<li>Email: <%= @contact.mail %></li>

	<li>Objet: <%= @contact.object %></li>

	<li>Message: <%= @contact.message %></li>
</ul>